/* Scss Document */

.breadcrumb {
	background-color: $shortlinksbg;
	font-size: $fontsize - 3;
	margin: 10px 0;

	a {
		color: #d1a74a;

		&:hover {
			color: $firstcolor;
		}
	}

	>span {
		color: $firstcolor;
		margin: 0 5px
	}
}