.navbar {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    background-color: $firstcolor;

    @include breakpoint(isMobile) {
        float: $left;
        width: 100%;
    }

    @include breakpoint(isTablet) {
        float: $left;
        width: 100%;
    }

    .main-menu {
        .navbar-header {
            @include breakpoint(isMobile) {
                float: $left;
            }

            @include breakpoint(isTablet) {
                float: $left;
            }
        }

        .navbar-collapse {
            padding-#{$left}: 0;
            padding-#{$right}: 0;
        }

        ul[id*=RootAspMenu] {
            @include breakpoint(isMobile) {
                // background: #f5f5f5;
            }

            @include breakpoint(isTablet) {
                // background: #f5f5f5;
            }

            >li.static {
                display: inline-block;
                text-align: center;

                @include breakpoint(isMobile) {
                    display: block;
                    width: 100%;
                    border-bottom: 1px solid #ddd;
                    padding: 10px;
                }

                @include breakpoint(isTablet) {
                    display: block;
                    width: 100%;
                    border-bottom: 1px solid #ddd;
                    padding: 10px;
                }

                &:last-child {
                    a {
                        padding-#{$left}: 0;
                    }
                }

                &:hover {
                    ul.dynamic {
                        display: block;
                    }

                    >a {
                        color: #d1a74a !important; //border-bottom: 4px solid #efa22c;
                    }
                }

                >a.selected {
                    color: #d1a74a !important;
                    background-color: transparent;
                }

                a {
                    color: #fff;
                    margin-#{$left}: 0px !important;
                    outline: 0;
                    padding-#{$right}: 10px;
                    padding-#{$left}: 10px;
                    font-weight: 400;
                    font-family: "GE Flow";
                    padding-top: 5px;
                    padding-bottom: 5px;
                    text-align: $right;

                    @include breakpoint(isLarge) {
                        padding-#{$right}: 6px;
                        padding-#{$left}: 6px;
                        font-size: 0.78em;

                        @if $right==left {
                            font-size: 0.693em;
                        }
                    }

                    @if $right==right {
                        font-size: 0.99em;
                    }

                    @else {
                        font-size: 0.95em;
                    }

                    span.additional-background {
                        background-image: none;
                        padding-#{$left}: 0;
                    }
                }

                ul.dynamic {
                    right: 0;
                    left: initial !important;
                    width: 280px !important;
                    min-width: 100%;
                    float: $right;
                    border: 0;
                    background: #92732b;
                    margin-top: 8px;
                    border-radius: 0;
                    margin-bottom: 0;
                    padding-bottom: 0;
                    padding: 0;

                    li {
                        display: block;
                        width: 100%;
                        padding: 0;
                        clear: both;
                        font-weight: 400;
                        text-align: inherit;
                        // white-space: nowrap;
                        background-color: transparent;
                        border: 0;

                        a {
                            color: #fff;
                            font-size: 11pt;
                            padding: 10px;
                            border-bottom: 1px solid rgba(255, 255, 255, 0.2);

                            &:hover {
                                background: #d1a74a;
                                color: #92732b !important;
                            }
                        }
                    }
                }
            }

            >li.dynamic-children {
                >a {
                    &:after {
                        width: 0;
                        height: 0;
                        margin-left: 0.255em;
                        vertical-align: 0.255em;
                        content: "";
                        border-top: 0.3em solid;
                        border-right: 0.3em solid transparent;
                        border-bottom: 0;
                        border-left: 0.3em solid transparent;
                        margin-#{$right}: 0.3em;
                        float: $left;
                        margin-top: 8px;

                    }
                }
            }
        }
    }

    .navbar-toggle {
        float: $left;
        background-color: transparent;
        border-radius: 0;
        border-color: transparent;
        margin-top: 10px;
        min-width: 10px;
        overflow: hidden;

        .icon-bar {
            @include transition();
            position: relative;
            background-color: #006fb6;

            &:nth-child(2) {
                -moz-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                top: 7px;
            }

            &:nth-child(3) {
                opacity: 0;
                visibility: hidden;
                #{$left}: -90px;
            }

            &:nth-child(4) {
                -moz-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
                top: -5px;
            }
        }

        &.collapsed {
            .icon-bar {
                opacity: 1;
                visibility: visible;
                -moz-transform: rotate(0);
                -webkit-transform: rotate(0);
                -o-transform: rotate(0);
                -ms-transform: rotate(0);
                transform: rotate(0);
                top: auto;
                #{$left}: 0;
            }
        }

        &:hover,
        &:focus {
            background-color: transparent !important;
        }
    }

    .navbar-collapse {
        margin: 0;

        &.in {
            display: inline-block;
            margin: 0;
        }

        border: 0;
    }

    .navbar-right {
        margin: 0;

        @include breakpoint(isMobile) {
            display: inline-block;
            width: 100%;
        }

        @include breakpoint(isTablet) {
            display: inline-block;
            width: 100%;
        }
    }
}

.responsive-mode {
    @include breakpoint(isMobile) {
        position: absolute;
        #{$left}: 0;
        padding: 0 !important;
        width: 100%;
        z-index: 99;
    }

    @include breakpoint(isTablet) {
        position: absolute;
        #{$left}: 0;
        padding: 0 !important;
        width: 100%;
        z-index: 99;
    }

    @include breakpoint(isLarge) {
        text-align: $left;
    }
}