/*-------------- Start Vertical Menu ----------------*/

.page-bg {
	background-color: $intpagebg
}

.v-menu {

	background-image: url(../../images/nav-bg.png);
	margin-top: 10px;
	margin-bottom: 10px;
	margin-#{$right}: 0 !important;

	h4 {
		background-color: $secondcolor;
		color: #fff;
		font-size: $fontsize - 2;

		span {
			background-image: url(../../images/menu-header.png);
			width: 100%;
			display: block;
			margin: 0;
			padding: 15px
		}
	}

	ul {
		border: 1px solid #EFEFEF;
		background: #fff url(../../images/nav-bg.png);

		li {
			border-bottom: 1px solid #E5E5E5;

			&:last-child {
				border: 0
			}

			a {
				color: $firstcolor !important;

				// &:hover {
				// 	background-color: $secondcolor !important;
				// 	color: #fff !important
				// }
				.collapse {
					color: #CD0003 !important
				}
			}

			ul {
				padding: 0 !important;

				li {
					padding: 0;
					margin: 0;
					text-indent: 15px;

					a {
						padding: 10px !important;
						margin: 0
					}
				}
			}
		}

	}

}

.container-fluid.p-0.mt-5.mb-5 {
	.ms-webpart-zone {
		display: inline-block;

		.ms-webpart-cell-vertical {
			display: inline-block;

			.ms-webpart-chrome-vertical {
				display: inline;
			}
		}
	}
}

.page-container {
	background: #fff;
	padding: 10px;
	border: 1px solid #EDEDED;
	@include border-radius(4px);
	margin: 10px 0;
	display: inline-;
	width: 100%;
	overflow: hidden;

	h1,
	.card-title {
		font-size: 1.5rem;
		color: $firstcolor;
	}

	img {
		// margin: 15px auto;
		display: inline-block;
	}

	p {
		font-size: $fontsize - 2;
	}

	.cchi-btn {
		color: $secondcolor;
		border: 1px solid $secondcolor;
		background: #fff;
		padding: 3px 6px;

		&:hover {
			background: $secondcolor;
			color: #fff
		}
	}

	ul,
	ol {
		font-size: $fontsize - 2;
		line-height: 220%
	}

	.download-file {
		padding: 0;

		img {
			width: 25px;
			display: inline;
			margin-#{$left}: 10px;
		}

		span {
			font-size: $fontsize - 3
		}

		a {
			padding: 5px;
			display: block;
			width: 100%;
			border-bottom: 1px dashed #d1d1d1;

			&:hover {
				background: #F0F0F0
			}
		}

		.download-icon {
			float: $left;
			margin-top: 5px;
		}
	}

	.p-content-footer {
		font-size: $fontsize - 4;
		color: #727272;

		i {
			color: $secondcolor
		}
	}
}

.links-slider,
.links-slider-ar {
	li {
		text-align: center
	}

	a {
		padding: 15px;
		background: #fff;
		display: block;
		border: 0.5px solid $thirdcolor;
		text-align: center;
	}

	h6 {
		font-size: $fontsize - 4
	}

	img {
		width: 50px;
		margin-bottom: 15px
	}
}

.lSSlideOuter .lSPager.lSpg {
	bottom: 10px !important
}

.container-fluid.p-0.mt-5.mb-5 {
	.lSSlideOuter .lSPager.lSpg {
		bottom: -30px !important
	}
}

.insurance-co {
	img {
		height: 80px;
		width: 100%
	}
}

#lightgallery {
	span {
		margin-top: 20px;
		display: inline-block;
		line-height: 1.5;
	}

	img {
		width: 100%;
	}
}


/*-------------- End  Vertical  Menu ----------------*/